<!DOCTYPE html>
<html>
<head>
	<title>ventana de bienvenido</title>
</head>
<body>
<div class="jumbotron">
<div class="container">
<h1>Bienvenido a geslab</h1>
 <%if user_signed_in?%>
		<p><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-default btn-lg'%></p>
	<%else%>
	<p><%= link_to "Iniciar sesión", new_user_session_path, class: 'btn btn-success btn-default btn-lg'%>
		<%= link_to "Regístrate", new_user_registration_path, class: 'btn btn-primary btn-default btn-lg'%>
	</p>
	<%end%>
</div>
</div>
</body>
</html>
